@for $lPercent from 0 through 100 {
	.l-w-#{$lPercent}p {
		width: percentage($lPercent/100);
	}
	.l-h-#{$lPercent}p {
		height: percentage($lPercent/100);
	}
	.l-t-#{$lPercent}p {
		top: percentage($lPercent/100);
	}
	.l-r-#{$lPercent}p {
		right: percentage($lPercent/100);
	}
	.l-b-#{$lPercent}p {
		bottom: percentage($lPercent/100);
	}
	.l-l-#{$lPercent}p {
		left: percentage($lPercent/100);
	}
}

@for $lPixels from 0 through 1000 {
	.l-w-#{$lPixels} {
		width: $lPixels + px;
	}
	.l-h-#{$lPixels} {
		height: $lPixels + px;
	}
	.l-t-#{$lPixels} {
		top: $lPixels + px;
	}
	.l-r-#{$lPixels} {
		right: $lPixels + px;
	}
	.l-b-#{$lPixels} {
		bottom: $lPixels + px;
	}
	.l-l-#{$lPixels} {
		left: $lPixels + px;
	}

	.l-mt-#{$lPixels} {
		margin-top: $lPixels + px;
	}

	.l-mb-#{$lPixels} {
		margin-bottom: $lPixels + px;
	}

	.l-ml-#{$lPixels} {
		margin-left: $lPixels + px;
	}
}

.l-zi-negative {
	z-index: -1;
}
@for $lPixels from 0 through 10 {
	.l-zi-#{$lPixels} {
		z-index: $lPixels;
	}
}

@media (min-width: $screen-md) {
	@for $lPercent from 0 through 100 {
		.md\(l-w-#{$lPercent}p\) {
			width: percentage($lPercent/100);
		}
		.md\(l-h-#{$lPercent}p\) {
			height: percentage($lPercent/100);
		}
		.md\(l-t-#{$lPercent}p\) {
			top: percentage($lPercent/100);
		}
		.md\(l-r-#{$lPercent}p\) {
			right: percentage($lPercent/100);
		}
		.md\(l-b-#{$lPercent}p\) {
			bottom: percentage($lPercent/100);
		}
		.md\(l-l-#{$lPercent}p\) {
			left: percentage($lPercent/100);
		}
	}

	@for $lPixels from 0 through 1000 {
		.md\(l-w-#{$lPixels}\) {
			width: $lPixels + px;
		}
		.md\(l-h-#{$lPixels}\) {
			height: $lPixels + px;
		}
		.md\(l-t-#{$lPixels}\) {
			top: $lPixels + px;
		}
		.md\(l-r-#{$lPixels}\) {
			right: $lPixels + px;
		}
		.md\(l-b-#{$lPixels}\) {
			bottom: $lPixels + px;
		}
		.md\(l-l-#{$lPixels}\) {
			left: $lPixels + px;
		}

		.md\(l-mt-#{$lPixels}\) {
			margin-top: $lPixels + px;
		}

		.md\(l-mb-#{$lPixels}\) {
			margin-bottom: $lPixels + px;
		}

		.md\(l-ml-#{$lPixels}\) {
			margin-left: $lPixels + px;
		}
	}
}